<!DOCTYPE html>
<html>
<head>
  <title>Post Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Post Page</h1>

  <div>
    <p>Post Content:</p>
    <p><%= post %></p> <!-- Output the 'post' variable -->
  </div>

  <% include footer %> <!-- Correct syntax for including 'footer' template -->
</body>
</html>
